In [453]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [454]:

pd.set_option('display.max_column', 100)
sal= pd.read_csv('salary,satisfaction.csv')
sal.head(4)

,id,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,Additional Information,To Apply,Hours/Shift,Residency Requirement,Posting Date,Posting Updated,Process Date,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,HopeFiveYears,JobSearchStatus,LastNewJob,UpdateCV,CommunicationTools,TimeFullyProductive,EducationTypes,SelfTaughtTypes,TimeAfterBootcamp,HackathonReasons,AgreeDisagree1,AgreeDisagree2,AgreeDisagree3,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,IDE,OperatingSystem,Methodology,VersionControl,CheckInCode,AIDangerous,AIInteresting,AIResponsible,AIFuture,Age,term,loan_status,pymnt_plan,orignal_website_directory,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,Time,emp_length,your_favoritearticle_today,url,Email,homeaddress,latitude,longitude,PHONE,officeaddress,website,dateAdded,previousaddress,phones,CrimeTime
0,68407277,42405.00,0,"$3,600.00",Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,•\tExcellent interpersonal and organizational ...,"Salary range for this position is: $42,405 - $...",NaN,NaN,New York City residency is generally required ...,2011-06-24T00:00:00.000,2011-06-24T00:00:00.000,2019-12-17T00:00:00.000,"Bachelor�s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,3-5 years,Working as a founder or co-founder of my own c...,"I�m not actively looking, but I am open to new...",Less than a year ago,My job status or other personal status changed,Slack,One to three months,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,NaN,To build my professional network,Strongly agree,Strongly agree,Neither Agree nor Disagree,JavaScript;Python;HTML;CSS,JavaScript;Python;HTML;CSS,Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...,Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...,AWS;Azure;Linux;Firebase,AWS;Azure;Linux;Firebase,Django;React,Django;React,Komodo;Vim;Visual Studio Code,Linux-based,Agile;Scrum,Git,Multiple times per day,Artificial intelligence surpassing human intel...,Algorithms making important decisions,The developers or the people creating the AI,I'm excited about the possibilities more than ...,25 - 34 years old,36 months,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,NaN,19-Mar,3/22/2016 9:51,< 1 year,https://www.reuters.com/article/us-tesla-crash...,nobell.it/70ffb52d079109dca5664cce6f317373782/...,mstephenson@fernandez.com,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328,(91) 555 22 82,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:30:00
1,68355089,60740.00,1,"$24,700.00","EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,NaN,"In addition to applying through this website, ...",NaN,New York City residency is generally required ...,2012-01-26T00:00:00.000,2012-01-26T00:00:00.000,2019-12-17T00:00:00.000,"Bachelor�s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,18-20 years,Working in a different or more specialized tec...,I am actively looking for a job,More than 4 years ago,I saw an employer�s advertisement,Confluence;Office / productivity suite (Micros...,One to three months,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,NaN,NaN,Agree,Agree,Neither Agree nor Disagree,JavaScript;Python;Bash/Shell,Go;Python,Redis;PostgreSQL;Memcached,PostgreSQL,Linux,Linux,Django,React,IPython / Jupyter;Sublime Text;Vim,Linux-based,NaN,Git;Subversion,A few times per week,Increasing automation of jobs,Increasing automation of jobs,The developers or the people creating the AI,I'm excited about the possibilities more than ...,35 - 44 years old,36 months,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,NaN,19-Mar,3/22/2016 10:08,NaN,https://www.irishtimes.com/business/economy/un...,www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...,hduke@hotmail.com,"300 20th St S Birmingham, AL 35233 US",33.509721,-86.802756,NaN,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:00:00
2,68341763,51907.68,0,"$20,000.00",Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,1. A Motor Vehicle Driver’s License valid in ...,"Click the ""Apply Now"" button.",NaN,NYCHA has no residency requirements.,2013-10-24T00:00:00.000,2013-12-12T00:00:00.000,2019-12-17T00:00:00.000,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,24-26 years,6-8 years,Working as a founder or co-founder of my own c...,"I�m not actively looking, but I am open to new...",Less than a year ago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60 months,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,NaN,605xx,IL,10.78,Aug-00,17-Jun,15813.30,NaN,19-Mar,3/22/2016 10:08,NaN,https://www.irishtimes.com/\t\t\t\t\t\t\t/life...,serviciosbys.com/paypal.cgi.bin.get-into.herf....,pallen@yahoo.com,"3220 Morrow Rd Birmingham, AL 35235 US",33.595581,-86.647437,NaN,"1950 W Freemont, Stockton, California, 95203",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,22:53:00
3,66310712,51907.68,0,"$35,000.00",Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,1. A Motor Vehicle Driver’s License valid in ...,"Click the ""Apply Now"" button.",NaN,NYCHA has no residency requirements.,2013-10-24T00:00:00.000,2013-12-12T00:00:00.000,2019-12-17T00:00:00.000,"Bachelor�s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,18-20 years,12-14 years,Working as a founder or co-founder of my own c...,"I�m not actively looking, but I am open to new...",Less than a year ago,A recruiter contacted me,NaN,Three to six months,Completed an industry certification program (e...,The official documentation and/or standards fo...,NaN,NaN,Disagree,Disagree,Strongly disagree,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,"SQL Server;Microsoft Azure (Tables, CosmosDB, ...","SQL Server;Microsoft Azure (Tables, CosmosDB, ...",Azure,Azure,NaN,Angular;.NET Core;React,Visual Studio;Visual Studio Code,Windows,Agile;Kanban;Scrum,Git,Multiple times per day,Artificial intelligence surpassing human intel...,Artificial intelligence surpassing human intel...,A governmental or other regulatory body,"I don't care about it, or I haven't thought ab...",35 - 44 years old,60 months,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,076xx,NJ,17.06,8-Sep,19-Feb,829.90,19-Apr,19-Mar,3/22/2016 10:08,10+ years,https://www.aljazeera.com/news/2019/09/north-k...,mail.printakid.com/www.online.americanexpress....,riverarebecca@gmail.com,"4719 Highway 280 Birmingham, AL 35242 US",33.422582,-86.698279,2125557818,"102 S. State St., Ukiah, California, 95482",http://www.ukiahbrewingco.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,22:50:00

In [455]:
sal.duplicated().sum()

0

In [456]:
sal.shape

(2946, 83)

# Exploratory Data Analysis

## Lets check the data type

In [457]:
sal.dtypes

id                    int64
Target_Salary       float64
Target_Satisfied      int64
LOAN_AMT             object
Business Title       object
                     ...
website              object
dateAdded            object
previousaddress      object
phones               object
CrimeTime            object
Length: 83, dtype: object

In [458]:
sal.count()

id                  2946
Target_Salary       2946
Target_Satisfied    2946
LOAN_AMT            2946
Business Title      2946
                    ...
website             2399
dateAdded           2946
previousaddress     2946
phones              2946
CrimeTime           2946
Length: 83, dtype: int64

In [459]:
sal['Target_Satisfied'].value_counts()

0    2327
1     619
Name: Target_Satisfied, dtype: int64

## Summary of data

In [460]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 83 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2946 non-null   int64
 1   Target_Salary               2946 non-null   float64
 2   Target_Satisfied            2946 non-null   int64
 3   LOAN_AMT                    2946 non-null   object
 4   Business Title              2946 non-null   object
 5   Civil Service Title         2946 non-null   object
 6   Division/Work Unit          2946 non-null   object
 7   Job Description             2946 non-null   object
 8   Minimum Qual Requirements   2926 non-null   object
 9   Preferred Skills            2553 non-null   object
 10  Additional Information      1854 non-null   object
 11  To Apply                    2945 non-null   object
 12  Hours/Shift                 884 non-null    object
 13  Residency Requirement       2942 non-null   object
 14  Posting Date                2942 non-null   object
 15  Posting Updated             2942 non-null   object
 16  Process Date                2942 non-null   object
 17  FormalEducation             2894 non-null   object
 18  UndergradMajor              2624 non-null   object
 19  CompanySize                 2946 non-null   object
 20  DevType                     2901 non-null   object
 21  YearsCoding                 2943 non-null   object
 22  YearsCodingProf             2538 non-null   object
 23  HopeFiveYears               2477 non-null   object
 24  JobSearchStatus             2511 non-null   object
 25  LastNewJob                  2499 non-null   object
 26  UpdateCV                    2089 non-null   object
 27  CommunicationTools          2023 non-null   object
 28  TimeFullyProductive         2052 non-null   object
 29  EducationTypes              2128 non-null   object
 30  SelfTaughtTypes             1812 non-null   object
 31  TimeAfterBootcamp           221 non-null    object
 32  HackathonReasons            849 non-null    object
 33  AgreeDisagree1              2133 non-null   object
 34  AgreeDisagree2              2133 non-null   object
 35  AgreeDisagree3              2139 non-null   object
 36  LanguageWorkedWith          2447 non-null   object
 37  LanguageDesireNextYear      2279 non-null   object
 38  DatabaseWorkedWith          2130 non-null   object
 39  DatabaseDesireNextYear      1831 non-null   object
 40  PlatformWorkedWith          2070 non-null   object
 41  PlatformDesireNextYear      1909 non-null   object
 42  FrameworkWorkedWith         1633 non-null   object
 43  FrameworkDesireNextYear     1731 non-null   object
 44  IDE                         2360 non-null   object
 45  OperatingSystem             2377 non-null   object
 46  Methodology                 1991 non-null   object
 47  VersionControl              2332 non-null   object
 48  CheckInCode                 2319 non-null   object
 49  AIDangerous                 2000 non-null   object
 50  AIInteresting               2076 non-null   object
 51  AIResponsible               2070 non-null   object
 52  AIFuture                    2196 non-null   object
 53  Age                         2027 non-null   object
 54  term                        2946 non-null   object
 55  loan_status                 2946 non-null   object
 56  pymnt_plan                  2946 non-null   object
 57  orignal_website_directory   2946 non-null   object
 58  purpose                     2946 non-null   object
 59  title                       2882 non-null   object
 60  zip_code                    2946 non-null   object
 61  addr_state                  2946 non-null   object
 62  dti                         2946 non-null   float64
 63  earliest_cr_line            2946 non-null   object
 64  last_pymnt_d                2946 non-null   object
 65  last_pymnt_amnt             2946 non-null   float64
 66  next_pymnt_d                336 non-null    object
 67  last_credit_pull_d          2946 non-null   object
 68  Time                        2946 non-null   object
 69  emp_length                  715 non-null    object
 70  your_favoritearticle_today  2945 non-null   object
 71  url                         2946 non-null   object
 72  Email                       1941 non-null   object
 73  homeaddress                 2629 non-null   object
 74  latitude                    2629 non-null   float64
 75  longitude                   2629 non-null   float64
 76  PHONE                       715 non-null    object
 77  officeaddress               2407 non-null   object
 78  website                     2399 non-null   object
 79  dateAdded                   2946 non-null   object
 80  previousaddress             2946 non-null   object
 81  phones                      2946 non-null   object
 82  CrimeTime                   2946 non-null   object
dtypes: float64(5), int64(2), object(76)
memory usage: 1.9+ MB

In [461]:
sal.describe()

,id,Target_Salary,Target_Satisfied,dti,last_pymnt_amnt,latitude,longitude
count,2.946000e+03,2946.000000,2946.000000,2946.000000,2946.000000,2629.000000,2629.000000
mean,6.830623e+07,58904.139794,0.210115,19.444117,4663.227026,37.515979,-92.490287
std,1.814269e+06,26986.575936,0.407460,8.628543,6855.297610,4.749089,16.578616
min,3.617740e+05,0.000000,0.000000,0.000000,0.030000,25.479009,-124.183611
25%,6.837622e+07,49390.000000,0.000000,13.035000,362.980000,33.876535,-105.095673
50%,6.846507e+07,58440.000000,0.000000,18.905000,842.235000,38.898082,-87.180851
75%,6.853764e+07,73171.750000,0.000000,25.580000,6832.185000,40.813125,-78.879958
max,6.861706e+07,218587.000000,1.000000,51.200000,35467.750000,48.785206,-68.753750

## Total Unique Value

In [462]:
sal.nunique()

id                  2946
Target_Salary        519
Target_Satisfied       2
LOAN_AMT             492
Business Title      1244
                    ...
website             1369
dateAdded             37
previousaddress       48
phones                46
CrimeTime            754
Length: 83, dtype: int64

In [463]:
sal.columns

Index(['id', 'Target_Salary', 'Target_Satisfied', 'LOAN_AMT', 'Business Title',
       'Civil Service Title', 'Division/Work Unit', 'Job Description',
       'Minimum Qual Requirements', 'Preferred Skills',
       'Additional Information', 'To Apply', 'Hours/Shift',
       'Residency Requirement', 'Posting Date', 'Posting Updated',
       'Process Date', 'FormalEducation', 'UndergradMajor', 'CompanySize',
       'DevType', 'YearsCoding', 'YearsCodingProf', 'HopeFiveYears',
       'JobSearchStatus', 'LastNewJob', 'UpdateCV', 'CommunicationTools',
       'TimeFullyProductive', 'EducationTypes', 'SelfTaughtTypes',
       'TimeAfterBootcamp', 'HackathonReasons', 'AgreeDisagree1',
       'AgreeDisagree2', 'AgreeDisagree3', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'FrameworkWorkedWith',
       'FrameworkDesireNextYear', 'IDE', 'OperatingSystem', 'Methodology',
       'VersionControl', 'CheckInCode', 'AIDangerous', 'AIInteresting',
       'AIResponsible', 'AIFuture', 'Age', 'term', 'loan_status', 'pymnt_plan',
       'orignal_website_directory', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'earliest_cr_line', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'Time',
       'emp_length', 'your_favoritearticle_today', 'url', 'Email',
       'homeaddress', 'latitude', 'longitude', 'PHONE', 'officeaddress',
       'website', 'dateAdded', 'previousaddress', 'phones', 'CrimeTime'],
      dtype='object')

## Splitting categorials and Numericals columns

In [464]:
Numerical_cols = sal.select_dtypes(include = np.number)

Numerical_cols.head()
Numerical_cols.columns

Index(['id', 'Target_Salary', 'Target_Satisfied', 'dti', 'last_pymnt_amnt',
       'latitude', 'longitude'],
      dtype='object')

In [465]:
Categorical_cols = sal.select_dtypes(include = 'object').columns

Categorical_cols

Index(['LOAN_AMT', 'Business Title', 'Civil Service Title',
       'Division/Work Unit', 'Job Description', 'Minimum Qual Requirements',
       'Preferred Skills', 'Additional Information', 'To Apply', 'Hours/Shift',
       'Residency Requirement', 'Posting Date', 'Posting Updated',
       'Process Date', 'FormalEducation', 'UndergradMajor', 'CompanySize',
       'DevType', 'YearsCoding', 'YearsCodingProf', 'HopeFiveYears',
       'JobSearchStatus', 'LastNewJob', 'UpdateCV', 'CommunicationTools',
       'TimeFullyProductive', 'EducationTypes', 'SelfTaughtTypes',
       'TimeAfterBootcamp', 'HackathonReasons', 'AgreeDisagree1',
       'AgreeDisagree2', 'AgreeDisagree3', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'FrameworkWorkedWith',
       'FrameworkDesireNextYear', 'IDE', 'OperatingSystem', 'Methodology',
       'VersionControl', 'CheckInCode', 'AIDangerous', 'AIInteresting',
       'AIResponsible', 'AIFuture', 'Age', 'term', 'loan_status', 'pymnt_plan',
       'orignal_website_directory', 'purpose', 'title', 'zip_code',
       'addr_state', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d',
       'last_credit_pull_d', 'Time', 'emp_length',
       'your_favoritearticle_today', 'url', 'Email', 'homeaddress', 'PHONE',
       'officeaddress', 'website', 'dateAdded', 'previousaddress', 'phones',
       'CrimeTime'],
      dtype='object')

## Missing Value

In [466]:
total = sal.isnull().sum().sort_values(ascending=False)
percent = (sal.isnull().sum()/sal.isnull().count()*100).sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent(%)'])

missing_data.head(20)

                         Total  Percent(%)
TimeAfterBootcamp         2725   92.498303
next_pymnt_d              2610   88.594705
emp_length                2231   75.729803
PHONE                     2231   75.729803
HackathonReasons          2097   71.181263
Hours/Shift               2062   69.993211
FrameworkWorkedWith       1313   44.568907
FrameworkDesireNextYear   1215   41.242363
SelfTaughtTypes           1134   38.492872
DatabaseDesireNextYear    1115   37.847929
Additional Information    1092   37.067210
PlatformDesireNextYear    1037   35.200272
Email                     1005   34.114053
Methodology                955   32.416836
AIDangerous                946   32.111337
CommunicationTools         923   31.330618
Age                        919   31.194840
TimeFullyProductive        894   30.346232
AIResponsible              876   29.735234
PlatformWorkedWith         876   29.735234

In [467]:
sal.corr()
#correlation check

,id,Target_Salary,Target_Satisfied,dti,last_pymnt_amnt,latitude,longitude
id,1.000000,-0.010424,0.017360,0.037443,-0.021086,-0.006909,0.016005
Target_Salary,-0.010424,1.000000,0.007766,0.002491,0.009170,0.014446,-0.013123
Target_Satisfied,0.017360,0.007766,1.000000,0.001063,-0.049296,-0.005274,0.029954
dti,0.037443,0.002491,0.001063,1.000000,-0.050584,0.011303,-0.002151
last_pymnt_amnt,-0.021086,0.009170,-0.049296,-0.050584,1.000000,0.006990,-0.014675
latitude,-0.006909,0.014446,-0.005274,0.011303,0.006990,1.000000,0.158156
longitude,0.016005,-0.013123,0.029954,-0.002151,-0.014675,0.158156,1.000000

## Missing value Treatment

In [468]:
sal['UndergradMajor'] = sal['UndergradMajor'].fillna('Not-Given')
sal['DevType'] = sal['DevType'].fillna('Not-Given')
sal['YearsCodingProf'] = sal['YearsCodingProf'].fillna('0-2')
sal['LastNewJob'] = sal['LastNewJob'].fillna('Not-Given')
sal['EducationTypes'] = sal['EducationTypes'].fillna('Not-Given')
sal['AgreeDisagree1'] = sal['AgreeDisagree1'].fillna('Not-Given')
sal['emp_length'] = sal['emp_length'].fillna('< 1 year')
sal['title'] = sal['title'].fillna('Not-Given')

## Data Preprocessing

In [469]:
df_sal = ['id', 'Target_Salary', 'Target_Satisfied', 'LOAN_AMT', 'dti','Age', 'loan_status', 'JobSearchStatus', 'FormalEducation',
            'HopeFiveYears','CompanySize',  'YearsCoding', 'term', 'last_pymnt_amnt']

'LOAN_AMT'

In [470]:
sal.LOAN_AMT=sal.LOAN_AMT.str.strip('$')
sal.LOAN_AMT.head(5)

0     3,600.00
1    24,700.00
2    20,000.00
3    35,000.00
4    10,400.00
Name: LOAN_AMT, dtype: object

In [471]:
sal['LOAN_AMT'] = [float(str(i).replace(",", "")) for i in sal['LOAN_AMT']]

'Age'

In [472]:
sal.Age.unique()

array(['25 - 34 years old', '35 - 44 years old', nan, '18 - 24 years old',
       '45 - 54 years old', '55 - 64 years old', 'Under 18 years old'],
      dtype=object)

In [473]:
sal['Age']=np.where(sal['Age']=='Under 18 years old',0,sal['Age'])
sal['Age']=np.where(sal['Age']=='25 - 34 years old',1,sal['Age'])
sal['Age']=np.where(sal['Age']=='35 - 44 years old',2,sal['Age'])
sal['Age']=np.where(sal['Age']=='18 - 24 years old',3,sal['Age'])
sal['Age']=np.where(sal['Age']=='45 - 54 years old',4,sal['Age'])
sal['Age']=np.where(sal['Age']=='55 - 64 years old',5,sal['Age'])

In [474]:
sal.Age.unique()

array([1, 2, nan, 3, 4, 5, 0], dtype=object)

In [475]:
sal.Age.isnull().sum()

919

In [476]:
sal['Age'].fillna(int(sal['Age'].median()), inplace=True)

In [477]:
sal.Age.isnull().sum()

0

'JobSearchStatus'

In [478]:
sal.JobSearchStatus.unique()

array(['I�m not actively looking, but I am open to new opportunities',
       'I am actively looking for a job', nan,
       'I am not interested in new job opportunities'], dtype=object)

In [479]:
sal['JobSearchStatus']=np.where(sal['JobSearchStatus']=='I�m not actively looking, but I am open to new opportunities',0,sal['JobSearchStatus'])
sal['JobSearchStatus']=np.where(sal['JobSearchStatus']=='I am actively looking for a job',1,sal['JobSearchStatus'])
sal['JobSearchStatus']=np.where(sal['JobSearchStatus']=='I am not interested in new job opportunities',2,sal['JobSearchStatus'])

In [480]:
sal['JobSearchStatus'].fillna(int(sal['JobSearchStatus'].median()), inplace=True)

In [481]:
sal.Age.isnull().sum()

0

'loan_status'

In [482]:
sal.loan_status.unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)'], dtype=object)

In [483]:
{"Fully Paid":0, "Charged Off":1, "Current":2, "Late (31-120 days)":3,
                      "In Grace Period":4, "Late (16-30 days)":5}

{'Fully Paid': 0,
 'Charged Off': 1,
 'Current': 2,
 'Late (31-120 days)': 3,
 'In Grace Period': 4,
 'Late (16-30 days)': 5}

In [484]:
sal['loan_status']=np.where(sal['loan_status']=='Fully Paid',0,sal['loan_status'])
sal['loan_status']=np.where(sal['loan_status']=='Charged Off',1,sal['loan_status'])
sal['loan_status']=np.where(sal['loan_status']=='Current',2,sal['loan_status'])
sal['loan_status']=np.where(sal['loan_status']=='Late (31-120 days)',3,sal['loan_status'])
sal['loan_status']=np.where(sal['loan_status']=='In Grace Period',4,sal['loan_status'])
sal['loan_status']=np.where(sal['loan_status']=='Late (16-30 days)',5,sal['loan_status'])

In [485]:
sal.loan_status.unique()

array([0, 2, 1, 4, 3, 5], dtype=object)

'FormalEducation'

In [486]:
sal.FormalEducation.unique()

array(['Bachelor�s degree (BA, BS, B.Eng., etc.)', 'Associate degree',
       'Some college/university study without earning a degree',
       'Master�s degree (MA, MS, M.Eng., MBA, etc.)',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       nan, 'Primary/elementary school',
       'Professional degree (JD, MD, etc.)',
       'I never completed any formal education',
       'Other doctoral degree (Ph.D, Ed.D., etc.)'], dtype=object)

In [487]:
sal['FormalEducation']=np.where(sal['FormalEducation']=='Bachelor�s degree (BA, BS, B.Eng., etc.)',0,sal['FormalEducation'])
sal['FormalEducation']=np.where(sal['FormalEducation']=='Associate degree',1,sal['FormalEducation'])
sal['FormalEducation']=np.where(sal['FormalEducation']=='Some college/university study without earning a degree',2,sal['FormalEducation'])
sal['FormalEducation']=np.where(sal['FormalEducation']=='Master�s degree (MA, MS, M.Eng., MBA, etc.)',3,sal['FormalEducation'])
sal['FormalEducation']=np.where(sal['FormalEducation']=='Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',4,sal['FormalEducation'])
sal['FormalEducation']=np.where(sal['FormalEducation']=='Primary/elementary school',5,sal['FormalEducation'])
sal['FormalEducation']=np.where(sal['FormalEducation']=='Professional degree (JD, MD, etc.)',6,sal['FormalEducation'])
sal['FormalEducation']=np.where(sal['FormalEducation']=='I never completed any formal education',7,sal['FormalEducation'])
sal['FormalEducation']=np.where(sal['FormalEducation']=='Other doctoral degree (Ph.D, Ed.D., etc.)',8,sal['FormalEducation'])

In [488]:
sal['FormalEducation'].fillna(int(sal['FormalEducation'].median()),inplace=True)

In [489]:
sal['FormalEducation'].isnull().sum()

0

'YearsCoding'

In [490]:
sal.YearsCoding.unique()

array(['3-5 years', '30 or more years', '24-26 years', '18-20 years',
       '6-8 years', '9-11 years', '0-2 years', '15-17 years',
       '12-14 years', '21-23 years', '27-29 years', nan], dtype=object)

In [491]:
sal['YearsCoding']=np.where(sal['YearsCoding']=='0-2 years',0,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='3-5 years',1,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='6-8 years',2,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='9-11 years',3,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='12-14 years',4,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='15-17 years',5,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='18-20 years',6,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='21-23 years',7,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='24-26 years',8,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='27-29 years',9,sal['YearsCoding'])
sal['YearsCoding']=np.where(sal['YearsCoding']=='30 or more years',10,sal['YearsCoding'])

In [492]:
sal['YearsCoding'].fillna(int(sal['YearsCoding'].median()),inplace=True)

In [493]:
sal.YearsCoding.isnull().sum()

0

'CompanySize'

In [494]:
sal.CompanySize.unique()

array(['20 to 99 employees', '10,000 or more employees',
       '100 to 499 employees', '10 to 19 employees',
       '500 to 999 employees', '1,000 to 4,999 employees',
       '5,000 to 9,999 employees', 'Fewer than 10 employees'],
      dtype=object)

In [495]:
sal['CompanySize']=np.where(sal['CompanySize']=='Fewer than 10 employees',0,sal['CompanySize'])
sal['CompanySize']=np.where(sal['CompanySize']=='10 to 19 employees',1,sal['CompanySize'])
sal['CompanySize']=np.where(sal['CompanySize']=='20 to 99 employees',2,sal['CompanySize'])
sal['CompanySize']=np.where(sal['CompanySize']=='100 to 499 employees',3,sal['CompanySize'])
sal['CompanySize']=np.where(sal['CompanySize']=='500 to 999 employees',4,sal['CompanySize'])
sal['CompanySize']=np.where(sal['CompanySize']=='1,000 to 4,999 employees',5,sal['CompanySize'])
sal['CompanySize']=np.where(sal['CompanySize']=='5,000 to 9,999 employees',6,sal['CompanySize'])
sal['CompanySize']=np.where(sal['CompanySize']=='10,000 or more employees',7,sal['CompanySize'])

In [496]:
sal.CompanySize.unique()

array([2, 7, 3, 1, 4, 5, 6, 0], dtype=object)

'HopeFiveYears'

In [497]:
sal.HopeFiveYears.unique()

array(['Working as a founder or co-founder of my own company',
       "Working in a different or more specialized technical role than the one I'm in now",
       'Doing the same work', nan,
       'Working as an engineering manager or other functional manager',
       'Working in a career completely unrelated to software development',
       'Working as a product manager or project manager', 'Retirement'],
      dtype=object)

In [498]:
sal['HopeFiveYears']=np.where(sal['HopeFiveYears']=="Working in a different or more specialized technical role than the one I'm in now",0,sal['HopeFiveYears'])
sal['HopeFiveYears']=np.where(sal['HopeFiveYears']=='Working as a founder or co-founder of my own company',1,sal['HopeFiveYears'])
sal['HopeFiveYears']=np.where(sal['HopeFiveYears']=='Doing the same work',2,sal['HopeFiveYears'])
sal['HopeFiveYears']=np.where(sal['HopeFiveYears']=='Working as an engineering manager or other functional manager',3,sal['HopeFiveYears'])
sal['HopeFiveYears']=np.where(sal['HopeFiveYears']=='Working as a product manager or project manager',4,sal['HopeFiveYears'])
sal['HopeFiveYears']=np.where(sal['HopeFiveYears']=='Working in a career completely unrelated to software development',5,sal['HopeFiveYears'])
sal['HopeFiveYears']=np.where(sal['HopeFiveYears']=='Retirement',6,sal['HopeFiveYears'])

In [499]:
sal['HopeFiveYears'].fillna(int(sal['HopeFiveYears'].median()), inplace=True)

In [500]:
sal.HopeFiveYears.isnull().sum()

0

In [501]:
#df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], format='%Y-%m-%d %H:%M:%S UTC')

'term'

In [502]:
sal.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [503]:
sal['term']=np.where(sal['term']==' 36 months',0,1)

In [504]:
sal.term.unique()

array([0, 1])

In [505]:
sal.term.head()

0    0
1    0
2    1
3    1
4    1
Name: term, dtype: int32

In [506]:
sal.term.dtypes

dtype('int32')

'emp_length'

In [507]:
mean_emp_length=sal.groupby(['emp_length'])['Target_Satisfied'].mean().to_dict()
sal['emp_length']= sal['emp_length'].map(mean_emp_length)
sal['emp_length']

0       0.212719
1       0.212719
2       0.212719
3       0.189441
4       0.189441
          ...
2941    0.212719
2942    0.212719
2943    0.212719
2944    0.212719
2945    0.212719
Name: emp_length, Length: 2946, dtype: float64

In [508]:
sal['emp_length'].unique()

array([0.2127193 , 0.18944099, 0.2       , 0.18      , 0.28      ,
       0.16      , 0.20408163, 0.27083333, 0.20833333])

'Civil Service Title'

In [509]:
sal['Civil Service Title'].unique()

array(['CONTRACT REVIEWER (OFFICE OF L', 'ADMINISTRATIVE BUSINESS PROMOT',
       'MAINTENANCE WORKER', 'PAINTER', 'PROCUREMENT ANALYST',
       'ASSOCIATE CHEMIST', 'ADMINISTRATIVE STAFF ANALYST (',
       'CLERICAL ASSOCIATE', 'ADM MANAGER-NON-MGRL FRM M1/M2',
       'CERT. IT ADMINISTRATOR WAN', 'COLLEGE AIDE (ALL CITY DEPTS)',
       'COMPUTER ASSOC (TECH SUPP)', 'COMPUTER SPECIALIST (SOFTWARE)',
       'COMPUTER PROGRAMMER ANALYST', 'COMPUTER SYSTEMS MANAGER',
       'PARALEGAL AIDE', 'HIGH PRESSURE PLANT TENDER',
       'CERTIFIED IT ADMINISTRATOR LAN', 'RESEARCH ASSISTANT',
       'ASSOCIATE STAFF ANALYST', 'ASSOCIATE CALL CENTER REPRESEN',
       'ADMINISTRATIVE ENGINEER', 'PUBLIC HEALTH NURSE (SCHOOL HE',
       'PUBLIC HEALTH ADVISER', 'COMMUNITY ASSOCIATE',
       'ADMINISTRATIVE DIRECTOR OF SOC', 'SUPERVISING PUBLIC HEALTH ADVI',
       'COMPUTER ASSOC (OPERATIONS)', 'CHILD AND FAMILY SPECIALIST',
       'COMMUNITY COORDINATOR', 'CERTIFIED IT ADMINISTRATOR (LA',
       'PEST CONTROL AIDE', 'STUDENT LEGAL SPECIALIST',
       'SUPERVISOR II SOCIAL WORK', 'PROGRAM EVALUATOR (ACS)',
       'CITY RESEARCH SCIENTIST', 'COMPUTER ASSOC (SOFTWARE)',
       'AGENCY ATTORNEY', 'INVESTIGATOR', 'CLAIM SPECIALIST',
       'PRINCIPAL ADMINISTRATIVE ASSOC', 'ADM ENGINEER (NON MGRL)',
       'ADMINISTRATIVE DIRECTOR OF RES', 'STAFF ANALYST',
       'MECHANICAL ENGINEERING INTERN', 'MECHANICAL ENGINEER',
       'ASSISTANT CIVIL ENGINEER', 'MACHINIST', 'ELECTRICAL ENGINEER',
       'CIVIL ENGINEER', 'ASSOCIATE PUBLIC HEALTH SANITA',
       'ADMINISTRATIVE PROJECT MANAGER', 'ADM CITY PLANNER (NON MGRL)',
       'SUPERVISOR OF STOCK WORKERS', 'COMPUTER AIDE',
       'DIRECTOR OF FIELD OPERATIONS (', 'CRIMINALIST ASSISTANT DIRECTOR',
       'WATERSHED MAINTAINER', 'PROJECT MANAGER INTERN#',
       'AGENCY ATTORNEY INTERNE', 'ADMINISTRATIVE TRANSPORTATION',
       'PLASTERER', 'SUPERVISOR (WATERSHED MAINTENA', 'ELECTRICIAN',
       'QUALITY ASSURANCE SPECIALIST (', 'ASSOC SUPVR OF SCHL SEC (MGRL)',
       'STATIONARY ENGINEER (ELECTRIC)', 'ADMINISTRATIVE MANAGER',
       'ASSISTANT COMMISSIONER (DEP)', 'PLUMBER',
       'ASSISTANT ELECTRICAL ENGINEER', 'ASSOCIATE PROJECT MANAGER',
       'BRIDGE OPERATOR', 'WATER USE INSPECTOR', 'BUDGET ANALYST (OMB)',
       'BOOKKEEPER', 'ADMINISTRATIVE PUBLIC INFORMAT',
       'CIVILIANIZATION MANAGER-PD', 'SUPERVISING COMPUTER SERVICE T',
       'STOCK WORKER', 'ASSOCIATE HOUSING DEVELOPMENT',
       'ELECTRICAL ENGINEERING INTERN', 'ADMIN CONTRACT SPECIALIST (PYR',
       'STRATEGIC INITIATIVE SPECIALIS', 'ASSISTANT LANDSCAPE ARCHITECT',
       'CERT IT DEVELOPER (APP)', 'INSTRUMENTATION SPECIALIST',
       'LEGAL SECRETARIAL ASSISTANT AL', 'CORRECTIONAL STANDARDS REVIEW',
       'CONSTRUCTION PROJECT MANAGER', 'OIL BURNER SPECIALIST',
       'DEPUTY COMMISSIONER (DEP)', 'ADMINISTRATIVE PROCUREMENT ANA',
       'ASSISTANT MECHANICAL ENGINEER', 'ASSISTANT CORPORATION COUNSEL',
       'INSPECTOR (MULTI-DISCIPLINE)', 'CRIMINALIST',
       'EXECUTIVE PROGRAM SPECIALIST (', 'ASSISTANT ARCHITECT',
       'CHILD PROTECTIVE SPECIALIST (C', 'ASSOCIATE WATER USE INSPECTOR',
       'PUBLIC HEALTH NURSE', 'EXECUTIVE AGENCY COUNSEL',
       'TRAFFIC DEVICE MAINTAINER', 'ACCOUNTANT', 'LANDSCAPE ARCHITECT',
       'ADM HOUSING DEV SPEC(NON MGRL)', 'MOTOR VEHICLE OPERATOR',
       'INVESTIGATOR TRAINEE (PYRL NOT', 'ADMIN COMMUNITY RELATIONS SPEC',
       'FORENSIC MORTUARY TECHNICIAN', 'ENGINEERING TECHNICIAN',
       'ECONOMIST', 'STATIONARY ENGINEER',
       'ASSISTANT ENVIRONMENTAL ENGINE', 'ADMINISTRATIVE CONSTRUCTION PR',
       'MARINER', 'TAXI AND LIMOUSINE INSPECTOR',
       'CIVIL ENGINEERING INTERN', 'INVESTIGATOR (CCRB)',
       'CONFIDENTIAL INVESTIGATOR', 'SEWAGE TREATMENT WORKER',
       'COMPUTER SERVICE TECHNICIAN (C', 'GARDENER',
       'COMPUTER SPECIALIST (OPERATION', 'SCIENTIST (WATER ECOLOGY)',
       'COMMUNITY ASSISTANT', 'ADMINISTRATIVE REAL PROPERTY M',
       'SUPERVISOR OF MECHANICAL INSTA', 'ADMINISTRATIIVE TAXI & LIMOUSI',
       'IT PROJECT SPECIALIST', 'IT INFRASTRUCTURE ENGINEER',
       'ADMINISTRATIVE MANAGEMENT AUDI', 'ENVIRONMENTAL ENGINEERING INTE',
       'ADMINISTRATIVE SUPERVISOR OF B', 'CITY PLANNER',
       'CUSTOMER INFORMATION REP', 'CITY PARK WORKER', 'CUSTODIAN',
       'SHEET METAL WORKER', 'DEPUTY COMMISSIONER (HEALTH)',
       'COMPUTER OPERATIONS MANAGER (S', 'IT SECURITY SPECIALIST',
       "MACHINIST'S HELPER", 'CARETAKER (HA)',
       'HOUSING DEVELOPMENT SPECIALIST', 'ASSOCIATE CONTRACT SPECIALIST',
       'DIRECTOR OF CONTRACT ADMINISTR', 'DIRECTOR OF SECURITY (HRA/DSS',
       'CITY SEASONAL AIDE', 'IT AUTOMATION AND MONITORING E',
       'PROJECT MANAGER', 'OPERATIONS COMMUNICATION SPECI', 'DOCKBUILDER',
       'ADMINISTRATIVE PUBLIC HEALTH N', 'PROTECTION AGENT (ACS)',
       'ASSOCIATE PUBLIC RECORDS OFFIC', 'COOK',
       'CITY MEDICAL SPECIALIST (PART-', 'MEDICOLEGAL ANALYST (LAW DEPT)',
       'FAMILY PUB HEALTH NURSE (HMH)', 'AUTO MECHANIC',
       'ASBESTOS HAZARD INVESTIGATOR', 'EXTERMINATOR', 'ARCHITECT',
       'INDUSTRIAL HYGIENIST', 'PUBLIC RECORDS OFFICER',
       'CHILD WELFARE SPECIALIST SUPER', 'HOUSING ASSISTANT (HA)',
       'ADMINISTRATIVE CITY PLANNER', 'METAL WORK MECHANIC',
       'SUMMER COLLEGE INTERN', 'ASSISTANT EXECUTIVE DIRECTOR (',
       'ADMINISTRATIVE ACCOUNTANT (NON', 'RADIO REPAIR MECHANIC',
       'SENIOR GENERAL DEPUTY MANAGER', 'CARPENTER',
       'CHILD WELFARE SPECIALIST', 'IT SERVICE MANAGEMENT SPECIALI',
       'SENIOR POLICE ADMINISTRATIVE A', 'LEAD ABATEMENT WORKER',
       'CONSTRUCTION PROJECT MANAGER I', 'SENIOR ESTIMATOR (GENERAL CONS',
       'PROJECT MANAGER (DBS)', 'ASSOCIATE FIRE PROTECTION INSP',
       'CONSULTANT (EARLY CHILDHOOD ED', 'ADMINISTRATIVE INSPECTOR (HOUS',
       'THERMOSTAT REPAIRER', 'SPECIAL ASSISTANT TO THE DEPUT',
       'SPECIAL CONSULTANT (MENTAL HEA', 'SENIOR STATIONARY ENGINEER (EL',
       'CONSTRUCTION LABORER', 'QUALITY ASSURANCE SPECIALIST',
       'SPEC CONSULTANT (MHSS) (AL 2)', 'NURSE PRACTITIONER(DEPT HEALTH',
       'INVESTMENT MANAGER (COMPTROLLE', 'ADM CONSTRUCTION PRJ MGR-NM',
       'ASSOCIATE URBAN DESIGNER', 'STAFF ANALYST TRAINEE',
       'CITY CUSTODIAL ASSISTANT', 'Asst Comm-Prgm Dev Revw-HMH',
       'DIRECTOR OF TECHNICAL SERVICES', "BLACKSMITH'S HELPER",
       'RESEARCH AND LIAISON SPECIALIS', 'SENIOR STATIONARY ENGINEER',
       'CLIMBER & PRUNER', 'FORESTER', 'CITY MEDICAL SPECIALIST',
       'HIGHWAY TRANSPORTATION SPECIAL', "PLUMBER'S HELPER",
       'COMMUNITY SERVICE AIDE', 'ADMINISTRATIVE CONTRACT SPECIA',
       'SENIOR MENTAL HEALTH WORKER', 'ADMINISTRATIVE ACCOUNTANT',
       'CONGREG CARE SPEC-ACS(35 HR WK', 'COUNSEL TO THE BOROUGH PRESIDE',
       'JUNIOR PUBLIC HEALTH NURSE', 'POISON INFORMATION SPECIALIST(',
       'CITY ATTENDANT', 'TELECOMMUNICATION MANAGER', 'DECKHAND',
       'HUMAN RIGHTS SPECIALIST (COMM', 'ASSOCIATE HUMAN RIGHTS SPECIAL',
       'MARINE OILER(FERRY OPERATIONS)', 'DEPUTY INSPECTOR GENERAL',
       'SUPERVISOR III SOCIAL WORK', 'HEALTH SERVICES MANAGER NON MA',
       'GRAPHIC ARTIST', 'INVESTMENT ANALYST', 'CYBER SECURITY ANALYST',
       'ASSISTANT DISTRICT ATTORNEY (S', 'COLLEGE AIDE - ASSIGNMENT LEVE',
       'GEOLOGIST', 'CRIME ANALYST', 'SENIOR IT ARCHITECT',
       'STATISTICIAN', 'RESEARCH PROJECTS COOR(MA)-MGR',
       'CONTRACT SPECIALIST', 'BUDGET ANALYST (OMB)-MANAGERIA',
       'MANAGEMENT AUDITOR', 'CITY LABORER',
       'SENIOR ESTIMATOR (ELECTRICAL)', 'SENIOR CONSULTANT (PUBLIC HEAL',
       'PUBLIC HEALTH SANITARIAN', 'TELECOMMUNICATIONS MANAGER (NO',
       'TELECOMMUNICATIONS ASSOCIATE (', 'COUNSELOR (ADDICTION TREATMENT',
       'MEMBER OF THE ENVIRONMENTAL CO', 'INSPECTOR (BOILERS)',
       'LABOR RELATIONS ANALYST', 'SUPERINTENDENT OF WATER AND SE',
       'YOUTH COORDINATOR (YOUTH SERVI', 'PORT MARINE ENGINEER (DEP)',
       'ASSOCIATE QUALITY ASSURANCE SP', 'CASEWORKER',
       'CERT IT ADMINISTRATOR (DB)', 'LOCKSMITH', 'CONFIDENTIAL EXAMINER',
       'ADMINISTRATIVE CLAIM EXAMINER', 'ADMINISTRATIVE  PROGRAM OFFICE',
       'PRINCIPAL NUTRITION CONSULTANT', 'SPECIAL ASSISTANT (DESIGN AND',
       'ADMINISTRATIVE PSYCHOLOGIST', 'DEPUTY COMMISSIONER',
       'ELECTRICIAN (AUTOMOBILE)', 'ADMINISTRATIVE COMMUNITY RELAT',
       'ADMINISTRATIVE ARCHITECT', 'CHAPLAIN',
       'SUPERVISOR OF ELEVATOR MAINTEN', 'EMERGENCY PREPAREDNESS MANAGER',
       'RESEARCH PROJECTS COORDINATOR', 'CITY TAX AUDITOR',
       'INVESTIGATOR(DISCP)(ONLY FOR P', 'PROBATION OFFICER TRAINEE',
       'POLICE ADMINISTRATIVE AIDE', 'INSPECTOR (ELEVATORS)',
       'ADMINISTRATIVE FIRE PROTECTION', 'ASSISTANT COMMISSIONER (ALTERN',
       'ASSISTANT URBAN DESIGNER', 'CONFIDENTIAL STRATEGY PLANNER',
       'ASSISTANT RESIDENT BUILDING SU', 'DIRECTOR OF CONSUMER INFORMATI',
       'ENVIRONMENTAL ENGINEER', 'SUPERVISING SPECIAL OFFICER',
       'ASSISTANT COMMISSIONER (EQUAL', 'ASSOCIATE FRAUD INVESTIGATOR (',
       'ADMINISTRATIVE INSPECTOR (BUIL', 'ADMIN ARCHITECT (NON MGRL) M-1',
       'MEDIA SERVICES TECHNICIAN', 'ASSISTANT COMMISSIONER (ENERGY',
       'DIRECTOR OF PROPERTY MANAGEMEN', 'ASSISTANT COMMISSIONER (DOC)',
       'CASE - MANAGEMENT NURSE (FIRE', 'CITY ASSESSOR (I,II,IIIA,IIIB)',
       'ADMINISTRATIVE HORTICULTURIST', 'PRINICIPAL HUMAN RIGHTS SPECIA',
       'TRAFFIC CONTROL INSPECTOR', 'ASSOCIATE INSPECTOR (HIGHWAYS',
       'MARINE ENGINEER (WITH LICENSE)', 'ADMINISTRATIVE PARKS & RECREA',
       'ASSOCIATE RETIREMENT BENEFITS', 'ADMINISTRATIVE LANDMARKS PRESE',
       'SUPERVISING DOCKMASTER', 'ADMINISTRATIVE TAX AUDITOR',
       'ASSOCIATE INSPECTOR (HOUSING)', 'INSPECTOR (CONSTRUCTION)',
       'ADMINISTRATIVE PROJECT DIRECTO', 'EXEC ASST TO THE COMMISSIONER',
       'LANDMARKS PRESERVATIONIST', "WORKER'S COMPENSATION BENEFITS",
       'CONFIDENTIAL ASST OFFICE', 'DEPUTY CHIEF OF OPERATIONS (PA'],
      dtype=object)

In [510]:
mean_Civil_Service_Title=sal.groupby(['Civil Service Title'])['Target_Satisfied'].mean().to_dict()
sal['Civil Service Title']= sal['Civil Service Title'].map(mean_Civil_Service_Title)
sal['Civil Service Title']

0       0.000000
1       0.166667
2       0.166667
3       0.166667
4       0.500000
          ...
2941    0.166667
2942    0.166667
2943    0.208791
2944    0.208791
2945    0.263889
Name: Civil Service Title, Length: 2946, dtype: float64

'DevType'

In [511]:
mean_ordinal_DevType=sal.groupby(['DevType'])['Target_Satisfied'].mean().to_dict()
sal['DevType']= sal['DevType'].map(mean_ordinal_DevType)

In [512]:
sal['DevType'].unique()

array([0.20444444, 1.        , 0.25      , 0.23529412, 0.5       ,
       0.        , 0.2       , 0.23684211, 0.125     , 0.0952381 ,
       0.2283105 , 0.1       , 0.22695035, 0.16216216, 0.16666667,
       0.21428571, 0.31578947, 0.11111111, 0.25714286, 0.33333333,
       0.39130435, 0.4       , 0.18181818, 0.09677419, 0.45454545,
       0.24444444, 0.22222222, 0.05882353, 0.42857143, 0.28571429,
       0.24137931, 0.14285714, 0.26666667, 0.3125    , 0.27272727,
       0.44444444, 0.27777778, 0.08333333, 0.375     , 0.57142857,
       0.36363636, 0.66666667, 0.30769231, 0.23076923])

'earliest_cr_line'

In [513]:
mean_earliest_cr_line=sal.groupby(['earliest_cr_line'])['Target_Satisfied'].mean().to_dict()
sal['earliest_cr_line']= sal['earliest_cr_line'].map(mean_earliest_cr_line)
sal['earliest_cr_line']

0       0.275862
1       0.384615
2       0.142857
3       0.000000
4       0.272727
          ...
2941    0.230769
2942    0.350000
2943    0.384615
2944    0.000000
2945    0.076923
Name: earliest_cr_line, Length: 2946, dtype: float64

In [514]:
sal['earliest_cr_line'].unique()

array([0.27586207, 0.38461538, 0.14285714, 0.        , 0.27272727,
       0.25      , 0.15384615, 0.23809524, 0.33333333, 0.22222222,
       0.07142857, 0.23076923, 0.1875    , 0.4       , 0.16666667,
       0.3       , 0.5       , 0.2       , 0.05263158, 0.41666667,
       0.21052632, 0.125     , 0.41176471, 0.26315789, 0.23529412,
       0.21428571, 0.0952381 , 0.07692308, 0.13333333, 0.09090909,
       0.05      , 0.15789474, 0.14814815, 0.30769231, 0.17647059,
       0.28571429, 0.57142857, 0.22727273, 0.11111111, 0.35      ,
       0.18518519, 0.44444444, 0.26666667, 0.08333333, 0.17391304,
       0.375     , 0.06666667, 0.31578947, 0.29411765, 0.08      ,
       0.27777778, 0.1       , 0.66666667, 0.75      , 0.42857143,
       0.18181818, 1.        , 0.36363636, 0.46153846, 0.35714286])

'purpose'

In [515]:
mean_purpose=sal.groupby(['purpose'])['Target_Satisfied'].mean().to_dict()
sal['purpose']= sal['purpose'].map(mean_purpose)

In [516]:
sal['purpose'].unique()

array([0.21952629, 0.3030303 , 0.2375    , 0.29090909, 0.15877437,
       0.18120805, 0.41176471, 0.29411765, 0.29032258, 0.38095238,
       0.38461538, 0.        ])

'title'

In [517]:
labels=sal.groupby(['title'])['Target_Satisfied'].mean().sort_values().index
new_labels={k:v for v,k in enumerate(labels,0)}
mean_ordinal=sal.groupby(['title'])['Target_Satisfied'].mean().to_dict()
sal['title']= sal['title'].map(mean_ordinal)

In [518]:
sal['title'].unique()

array([0.22130665, 0.3030303 , 0.125     , 0.29090909, 0.16165951,
       0.23717949, 0.18439716, 0.41176471, 0.29411765, 0.26666667,
       0.38095238, 0.38461538, 0.        ])

'last_pymnt_d'

In [519]:
mean_last_pymnt_d=sal.groupby(['last_pymnt_d'])['Target_Satisfied'].mean().to_dict()
sal['last_pymnt_d']= sal['last_pymnt_d'].map(mean_last_pymnt_d)

In [520]:
sal['last_pymnt_d'].unique()

array([0.22297297, 0.29545455, 0.140625  , 0.21830986, 0.16666667,
       0.23188406, 0.22916667, 0.23943662, 0.2       , 0.21212121,
       0.125     , 0.12068966, 0.22807018, 0.07142857, 0.20408163,
       0.23287671, 0.328125  , 0.26415094, 0.21153846, 0.18518519,
       0.16346154, 0.1875    , 0.20289855, 0.1025641 , 0.2238806 ,
       0.2109375 , 0.24137931, 0.22058824, 0.15625   , 0.22580645,
       0.25      , 0.22413793, 0.13461538, 0.17073171, 0.25373134,
       0.37096774, 0.26923077, 0.11538462, 0.11111111])

'last_credit_pull_d'

In [521]:
mean_last_credit_pull_d=sal.groupby(['last_credit_pull_d'])['Target_Satisfied'].mean().to_dict()
sal['last_credit_pull_d']= sal['last_credit_pull_d'].map(mean_last_credit_pull_d)

In [522]:
sal['last_credit_pull_d'].unique()

array([0.21289821, 0.16981132, 0.13636364, 0.21917808, 0.20689655,
       0.13157895, 0.125     , 0.21875   , 0.        , 0.12244898,
       0.12765957, 0.29032258, 0.18181818, 0.22289157, 0.22222222,
       0.25806452, 0.2278481 , 0.08823529, 0.21052632, 0.25      ,
       0.23809524, 0.20833333, 0.18918919, 0.23157895, 0.2       ,
       0.22857143, 0.24637681, 0.26086957, 0.28571429, 0.26315789,
       0.11111111, 0.33333333])

In [523]:
sal["Target_Satisfied"].value_counts()

0    2327
1     619
Name: Target_Satisfied, dtype: int64

In [524]:
#Data type conversion of some features
sal = sal.astype({"loan_status": int})
sal = sal.astype({"CompanySize": int})

### Creating new dataset using feature selection

In [525]:
new_columns= ['id', 'Target_Salary', 'Target_Satisfied', 'LOAN_AMT', 'dti','Age', 'loan_status', 'JobSearchStatus', 'FormalEducation',
            'HopeFiveYears','CompanySize',  'YearsCoding','emp_length', 'Civil Service Title','term','DevType', 'last_pymnt_amnt','earliest_cr_line','purpose','title','last_pymnt_d','last_credit_pull_d']
sal_new=sal[new_columns]

In [526]:
sal_new.head(5)

,id,Target_Salary,Target_Satisfied,LOAN_AMT,dti,Age,loan_status,JobSearchStatus,FormalEducation,HopeFiveYears,CompanySize,YearsCoding,emp_length,Civil Service Title,term,DevType,last_pymnt_amnt,earliest_cr_line,purpose,title,last_pymnt_d,last_credit_pull_d
0,68407277,42405.00,0,3600.0,5.91,1,0,0,0,1,2,1,0.212719,0.000000,0,0.204444,122.67,0.275862,0.219526,0.221307,0.222973,0.212898
1,68355089,60740.00,1,24700.0,16.06,2,0,1,0,0,7,10,0.212719,0.166667,0,1.000000,926.35,0.384615,0.303030,0.303030,0.295455,0.212898
2,68341763,51907.68,0,20000.0,10.78,1,0,0,1,1,2,8,0.212719,0.166667,1,0.250000,15813.30,0.142857,0.237500,0.125000,0.140625,0.212898
3,66310712,51907.68,0,35000.0,17.06,2,2,0,0,1,3,6,0.189441,0.166667,1,0.204444,829.90,0.000000,0.219526,0.221307,0.218310,0.212898
4,68476807,35.00,1,10400.0,25.37,3,0,0,2,0,7,2,0.189441,0.500000,1,1.000000,10128.96,0.272727,0.290909,0.290909,0.166667,0.169811

In [527]:
sal_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2946 non-null   int64
 1   Target_Salary        2946 non-null   float64
 2   Target_Satisfied     2946 non-null   int64
 3   LOAN_AMT             2946 non-null   float64
 4   dti                  2946 non-null   float64
 5   Age                  2946 non-null   int64
 6   loan_status          2946 non-null   int32
 7   JobSearchStatus      2946 non-null   int64
 8   FormalEducation      2946 non-null   int64
 9   HopeFiveYears        2946 non-null   int64
 10  CompanySize          2946 non-null   int32
 11  YearsCoding          2946 non-null   int64
 12  emp_length           2946 non-null   float64
 13  Civil Service Title  2946 non-null   float64
 14  term                 2946 non-null   int32
 15  DevType              2946 non-null   float64
 16  last_pymnt_amnt      2946 non-null   float64
 17  earliest_cr_line     2946 non-null   float64
 18  purpose              2946 non-null   float64
 19  title                2946 non-null   float64
 20  last_pymnt_d         2946 non-null   float64
 21  last_credit_pull_d   2946 non-null   float64
dtypes: float64(12), int32(3), int64(7)
memory usage: 471.9 KB

# Splitting data into test and train

### Classification model to predict Target_Satisfied

In [528]:
#prediction based on classification target
x=sal_new.drop(['id','Target_Satisfied','Target_Salary'],axis=1)
y=sal_new['Target_Satisfied']

In [529]:
#train set and test set spliting of dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=10)

In [530]:
display('TRAINING_DATA',x_train.head(),y_train.head(),'TESTING_DATA',x_test.head(),y_test.head())

'TRAINING_DATA'

,LOAN_AMT,dti,Age,loan_status,JobSearchStatus,FormalEducation,HopeFiveYears,CompanySize,YearsCoding,emp_length,Civil Service Title,term,DevType,last_pymnt_amnt,earliest_cr_line,purpose,title,last_pymnt_d,last_credit_pull_d
1589,28000.0,31.77,1,0,0,0,1,1,1,0.212719,0.173913,1,0.226950,22979.54,0.214286,0.158774,0.161660,0.140625,0.222222
1068,12000.0,15.75,1,1,0,3,0,1,2,0.212719,0.263889,1,0.226950,275.75,0.275862,0.219526,0.221307,0.231884,0.212898
1927,20000.0,26.17,2,1,0,3,3,1,0,0.212719,0.142857,1,0.181818,432.66,0.000000,0.219526,0.221307,0.120690,0.212898
2270,22000.0,15.34,1,0,0,0,1,2,2,0.212719,0.219512,0,0.000000,13354.69,0.272727,0.158774,0.161660,0.140625,0.222222
426,8000.0,10.12,1,0,2,0,5,3,2,0.212719,0.500000,0,0.250000,3041.24,0.148148,0.219526,0.221307,0.120690,0.212898

1589    0
1068    1
1927    0
2270    0
426     0
Name: Target_Satisfied, dtype: int64

'TESTING_DATA'

,LOAN_AMT,dti,Age,loan_status,JobSearchStatus,FormalEducation,HopeFiveYears,CompanySize,YearsCoding,emp_length,Civil Service Title,term,DevType,last_pymnt_amnt,earliest_cr_line,purpose,title,last_pymnt_d,last_credit_pull_d
2027,11400.0,12.21,1,0,1,0,0,2,3,0.212719,0.000000,0,0.000000,343.25,0.250000,0.158774,0.161660,0.222973,0.212898
863,20000.0,7.10,1,0,0,0,0,2,1,0.212719,0.444444,0,0.000000,19202.74,0.176471,0.219526,0.221307,0.170732,0.285714
183,28000.0,24.83,1,0,0,2,1,1,1,0.204082,0.166667,1,0.200000,17440.21,0.375000,0.219526,0.221307,0.224138,0.231579
2337,16000.0,20.92,3,2,2,0,2,7,3,0.212719,0.400000,1,1.000000,333.46,0.384615,0.158774,0.161660,0.218310,0.212898
2523,25200.0,16.31,1,0,0,0,0,2,1,0.212719,0.212121,0,0.083333,6135.36,0.350000,0.219526,0.221307,0.269231,0.238095

2027    0
863     0
183     0
2337    1
2523    0
Name: Target_Satisfied, dtype: int64

In [531]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler 

sc = StandardScaler()

min_max = MinMaxScaler()

x_train_scaled = min_max.fit_transform(x_train)

x_test_scaled = min_max.fit_transform(x_test)

In [532]:
from sklearn.ensemble import RandomForestClassifier
# Accuracy
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV

In [533]:
# max_features = ['auto', 'sqrt','log2']

# bootstrap = [True, False]

#param={"max_depth" : [1,3,5,7,9,11,12],
#       "min_samples_leaf":[1,2,3,4,5,6,7,8,9,10],
#       "max_leaf_nodes":[None,10,20,30,40,50,60,70,80,90],
#       "max_features" : max_features,
 #      "n_estimators":[10,20,30,35,40,55,62,70,80,90],
#       "bootstrap": bootstrap}

In [534]:

n_estimators = [int(x) for x in np.linspace(start = 10, stop = 100, num = 10)]

max_features = ['auto', 'sqrt','log2']

max_depth = [2,5,8,9,10]

min_samples_split = [2, 6,9,11,15]

min_samples_leaf = [3,5,10,18,20]

bootstrap = [True, False]

#Create the param grid
param = {'n_estimators': n_estimators,
              'max_features': max_features,
              'max_depth': max_depth,
              'min_samples_split': min_samples_split,
              'min_samples_leaf': min_samples_leaf,
              'bootstrap': bootstrap}

In [535]:
#grid_CV=GridSearchCV(RandomForestClassifier(),param_grid=param,cv=10,verbose=2, n_jobs = 4)
#grid_CV.fit(x_train,y_train)
#print(grid_CV.best_params_)
#print(grid_CV.best_score_)

In [536]:
classifier=RandomForestClassifier( bootstrap=True,max_depth= 10, max_features= 'sqrt', min_samples_leaf= 5, min_samples_split= 2, n_estimators= 70)
classifier.fit(x_train,y_train)
pred_y=classifier.predict(x_test)

In [537]:
#confusion matrix
confusion_matrix(y_test,pred_y)
print("confusion_matrix :\n  {}".format(confusion_matrix(y_test,pred_y)))

confusion_matrix :
  [[456   6]
 [ 75  53]]

In [538]:
from sklearn.metrics import classification_report
from sklearn import metrics

In [539]:
print('F1 SCORE',metrics.f1_score(y_test,pred_y))

F1 SCORE 0.5668449197860963

In [540]:

print(classification_report(y_test, pred_y))

              precision    recall  f1-score   support

           0       0.86      0.99      0.92       462
           1       0.90      0.41      0.57       128

    accuracy                           0.86       590
   macro avg       0.88      0.70      0.74       590
weighted avg       0.87      0.86      0.84       590

### Regression model to predict Target_Salary

In [541]:
#prediction based on regression target
x=sal_new.drop(['id','Target_Satisfied','Target_Salary'],axis=1)
Y=sal_new['Target_Salary']

In [542]:
#train set and test set spliting of dataset
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,Y,test_size=0.20,random_state=100)

In [543]:
display('TRAINING_DATA',x_train.head(),y_train.head(),'TESTING_DATA',x_test.head(),y_test.head())

'TRAINING_DATA'

,LOAN_AMT,dti,Age,loan_status,JobSearchStatus,FormalEducation,HopeFiveYears,CompanySize,YearsCoding,emp_length,Civil Service Title,term,DevType,last_pymnt_amnt,earliest_cr_line,purpose,title,last_pymnt_d,last_credit_pull_d
1589,28000.0,31.77,1,0,0,0,1,1,1,0.212719,0.173913,1,0.226950,22979.54,0.214286,0.158774,0.161660,0.140625,0.222222
1068,12000.0,15.75,1,1,0,3,0,1,2,0.212719,0.263889,1,0.226950,275.75,0.275862,0.219526,0.221307,0.231884,0.212898
1927,20000.0,26.17,2,1,0,3,3,1,0,0.212719,0.142857,1,0.181818,432.66,0.000000,0.219526,0.221307,0.120690,0.212898
2270,22000.0,15.34,1,0,0,0,1,2,2,0.212719,0.219512,0,0.000000,13354.69,0.272727,0.158774,0.161660,0.140625,0.222222
426,8000.0,10.12,1,0,2,0,5,3,2,0.212719,0.500000,0,0.250000,3041.24,0.148148,0.219526,0.221307,0.120690,0.212898

1589    0
1068    1
1927    0
2270    0
426     0
Name: Target_Satisfied, dtype: int64

'TESTING_DATA'

,LOAN_AMT,dti,Age,loan_status,JobSearchStatus,FormalEducation,HopeFiveYears,CompanySize,YearsCoding,emp_length,Civil Service Title,term,DevType,last_pymnt_amnt,earliest_cr_line,purpose,title,last_pymnt_d,last_credit_pull_d
2027,11400.0,12.21,1,0,1,0,0,2,3,0.212719,0.000000,0,0.000000,343.25,0.250000,0.158774,0.161660,0.222973,0.212898
863,20000.0,7.10,1,0,0,0,0,2,1,0.212719,0.444444,0,0.000000,19202.74,0.176471,0.219526,0.221307,0.170732,0.285714
183,28000.0,24.83,1,0,0,2,1,1,1,0.204082,0.166667,1,0.200000,17440.21,0.375000,0.219526,0.221307,0.224138,0.231579
2337,16000.0,20.92,3,2,2,0,2,7,3,0.212719,0.400000,1,1.000000,333.46,0.384615,0.158774,0.161660,0.218310,0.212898
2523,25200.0,16.31,1,0,0,0,0,2,1,0.212719,0.212121,0,0.083333,6135.36,0.350000,0.219526,0.221307,0.269231,0.238095

2027    0
863     0
183     0
2337    1
2523    0
Name: Target_Satisfied, dtype: int64

In [544]:
from sklearn.ensemble import RandomForestRegressor

In [545]:
Regressor=RandomForestRegressor(n_estimators=20,max_features='sqrt')

In [546]:
# Evaluating the test test data
Regressor.fit(X_train, y_train)
y_pred=Regressor.predict(X_test)

In [547]:
from sklearn.metrics import mean_squared_error ,mean_absolute_error , r2_score
from math import sqrt

In [548]:
# Finding the Root Mean Squre Error
rmse = sqrt(mean_squared_error(Y_test, y_pred))
print('ROOT MEAN SQUERE ERROR: ',rmse)

ROOT MEAN SQUERE ERROR:  64422.611343890145